<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/company.css">
    <link rel="stylesheet" href="./css/HEADER.css">
    <link rel="stylesheet" href="./css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flex-box | company</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>logotype</h1>
        </div>
        <div class="search">
        <div class="input-search">
            <input type="text" placeholder="Search">
        </div>
        <div class="input-icon">
            <img src="../../assets/icon-search.svg" alt="">
        </div>
        </div>
        <div class="profile">
            <div class="favorite">
                <img src="../../assets/favorit.svg" alt="">
            </div>
            <div class="profile-icon">
                <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
    </header>
    <main>
        <div class="banner">
            <div class="banner-info">
                <h1>sounds</h1>
                <h1>like</h1>
                <h1>silence</h1>
                <p>Click anywhere to navigate</p> 
            </div>
        </div>
        <div class="background-info">
            <div class="container-background-info">
                <div class="title-container-background-info">
                    <h1>DANZAFONO 3.0</h1>
                    <p>Transforming Perfomance Into a Typographic Dance</p>
                </div>
                <div class="p-container-background-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eros erat, pretium in eros ut, ultrices commodo neque. Phasellus sit amet nisi eu libero molestie rutrum consequat eu nibh. Suspendisse dapibus laoreet ex vitae commodo. Suspendisse a purus ut felis tristique euismod. Ut pellentesque nisl elit. Mauris eleifend massa augue, nec vehicula dui tristique malesuada. Maecenas sollicitudin vulputate tortor vel sodales. Aliquam erat volutpat.                    </p>
                    <p>Morbi vestibulum congue nisl, sit amet mattis ipsum varius at. Mauris congue augue commodo, elementum tellus sed, volutpat ex. Vivamus feugiat urna eget interdum pellentesque. Sed vestibulum quis nisl et interdum. Nunc elementum, ex sit amet maximus elementum, massa justo elementum sapien, non laoreet ex risus eu augue. Duis malesuada suscipit justo eget dignissim. Quisque ullamcorper arcu tellus, sit amet tincidunt nulla sodales non. Quisque scelerisque mattis lectus. Nulla blandit, ipsum eu dictum tempor, odio nisl vehicula velit, quis hendrerit justo ligula non ex. Ut sagittis sem tincidunt ante commodo dictum. Morbi feugiat eleifend suscipit. Cras tempor interdum imperdiet. Mauris eu massa lacus.                    </p>
                    <p>Mauris eget semper enim. Sed porta ipsum nec leo auctor ullamcorper. Nulla vel egestas purus. Ut lorem diam, imperdiet at feugiat in, rutrum at nunc. Quisque in purus enim. In ut dictum sapien. Suspendisse vel pellentesque tortor, eget hendrerit leo. Ut ultrices nibh ac risus imperdiet, eget tempus metus rhoncus. Etiam porttitor semper nulla, a mollis leo. Cras finibus risus eget purus cursus, vitae semper nisl lobortis. Phasellus ornare risus et finibus gravida. Vestibulum a libero nec ligula semper scelerisque.                    </p>
                </div>
                <div class="line-container-background-info"></div>
                <div class="links-container-background-info">
                    <ul>
                        <li>
                            <span>live websites:</span><p> danzafono.com</p>
                        </li>
                        <li>
                            <span>Donec eleifend purus commodo tortor eleifend:</span><p>  eu tristique ipsum tempor.</p>
                        </li>
                        <li>
                            <span>Proin volutpat dui sit amet metus ultricies:</span><p> id euismod metus euismod.</p>
                        </li>
                        <li>
                            <span>Lorem ipsum dolor sit amet:</span><p> consectetur adipiscing elit.                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>